/E57_LaminB1_P21_data/E57_rad_220323_P21_LaminB1NucleiObject.csv
/E57_LaminB1_P21_data/E57_rad_220323_P21_LaminB1DilatedNuclei_1.csv
/E57_LaminB1_P21_data/E57_control_220323_P21_LaminB1NucleiObject.csv
/E57_LaminB1_P21_data/E57_control_220323_P21_LaminB1DilatedNuclei_1.csv
